<%- include('partials/head') %>
<body>
    <%- include('partials/navBar') %>

    <h1>Welcome To Note Sharing</h1>

<div id = "block">
    <div id="inside"> <a href="/new">Create a new Note</a> </div>
    <div id="inside"> <a href="/notes">Browse Notes</a> </div>
</div>
</body>
</html>