<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/createNote.css">
    <script src="/js/bootstrap.min.js"></script>
    <style>
    a{
    font-size: 30px;
    color: #FDF0D5;
    font-family: 'Montserrat', sans-serif;
    }
    body{
    background-color: #3A3335;
    min-height: 100vh;
    } 
    </style>
</head>
<body>
    <%- include('partials/navBar') %>
    <h1 style="text-align: center; padding: 20px; color: white;">Page Not Found!</h1>
</body>
</html>